<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <connectionStrings>
        <add name="MariaDBConnection" 
             connectionString="Server=localhost;Database=market;Uid=root;Pwd=;Port=3306;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="AutoCreateDatabase" value="true" />
        <add key="AutoCreateTables" value="true" />
    </appSettings>
</configuration>